<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makutano social app</title>
</head>
<body>
    <h1>Makutano appp</h1>
    <% if(18>21){%>

        <h2>Join this app</h2>
        <p>This is server side rendering</p>
    <% } else { %>
        <h2>Tokomea!!!</h2>
        <p>meaning the server(node)will convert this ejs to pure html before rendering /sending to browser /client</p>

        

    <%}%>
    
</body>
</html>