<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makutano social app</title>
</head>
<body>
    <h1>Makutano appp</h1>
    <% if (user){
        %> <h2>Welcome <%= user.fullname %></h2>
    <%}else{%>
        <h2>welcome, guest</h2>
        <a href="/login"></a>
        <%} %>
    <a href="/newuser">Add new user</a>
    <a href="/register">Register client</a>
    <a href="/login">login</a>
    <h2>Whats on your mind</h2>
    <form action="http://localhost:3003/newpost" method="post">
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">Post</button>
    </form>
    <h2>Recent posts</h2>
    <section class="posts">
       <% posts.forEach(function(post){ %>
    <article>
        <p><%= post.content %></p>
        <p>Posted by : <%= post.postowner %><br>
        posted on <%= post.createdat.toLocaleDateString() %></p>
    </article>
<% }) %>

</body>
</html>